<?xml version="1.0"?>
<!--
/**
 * @package Divante\Topbar
 * @author Marek Mularczyk <mmularczyk@divante.pl>
 * @copyright 2017 Divante Sp. z o.o.
 * @license See LICENSE_DIVANTE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <divante>
            <topbar>
                <enabled>1</enabled>
            </topbar>
        </divante>
    </default>
</config>
